/*La font de les lletres*/
* {
  font-family: Arial, Helvetica, sans-serif;
}
/*Per poder modificar tota la pantalla*/
body {
  margin: 0px;
  padding: 0px;
}

/*Primer Bloc*/
/*Part de dalt de pàgina de Google*/
.Arriba-container {
  height: 60px;
  display: flex;
  padding: 10px;
  gap: 10px;
  font-size: 14px;
}
.Arriba-item {
  flex-direction: row;
  padding-left: 10px;
}
.Gmail {
  margin-left: 73%;
  padding: 10px;
}
.images {
  padding-top: 10px;
}
.Puntos img {
  padding-top: 7px;
  width: 100%;
  height: auto;
}
.Puntos {
  padding-left: 10px;
}
.btn {
  background-color: #1a73e8;
  color: white;
  border: none;
  width: 120px;
  height: 35px;
  border-radius: 5px;
  margin-top: 3px;
  margin-left: 15px;
}

/*Segon bloc*/
/*Part cental de la pàgina de Google*/
/*El logo de Google + El buscador + Les diferents traduccions com el castellà*/
.Centro-container {
  height: 50%;
  position: relative;
}
.Google {
  width: 25%;
  margin-left: 38%;
  padding-top: 100px;
  font-size: 80px;
  text-align: center;
}
.round {
  border: 2px solid lightgray;
  border-radius: 25px;
  padding: 15px;
  margin-left: 33%;
  margin-top: 1%;
  width: 650px;
  height: 2%;
  position: absolute;
  display: none;
}
input.search {
  font-size: 15px;
  width: 35.5%;
  border-radius: 25px;
  border: 1px solid #dfe1e5;
  padding-bottom: 19px;
  padding-top: 19px;
  padding-right: 100px;
  padding-left: 35px;
  height: 20px;
  text-align: left;
  margin-top: -1.7%;
  margin-left: 33.5%;
  background-color: rgba(255, 255, 255, 0);
  transition: 0.2s;
}
input.search:hover {
  box-shadow: 1px 2px 5px #acabab9c;
}

.Lupa {
  height: auto;
  width: 27px;
  position: absolute;
  margin-left: 34%;
  margin-top: 1.5%;
}
.Camara {
  width: auto;
  height: 27px;
}
.Micro {
  width: auto;
  height: 27px;
}
.Camara_Micro {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 32%;
  padding-top: 1.4%;
}
.Camara_Micro img {
  margin-left: 2.5%;
}
.Buscar_Google {
  background-color: #f8f9fa;
  border: none;
  width: 140px;
  height: 35px;
  border-radius: 5px;
  color: black;
  margin-left: 42.8%;
  margin-top: 2%;
}

.Suerte {
  background-color: #f8f9fa;
  border: none;
  width: 140px;
  height: 35px;
  border-radius: 5px;
  color: black;
  margin-left: 10.5px;
}
.Idiomas {
  margin-top: 24px;
  margin-left: 43.5%;
  font-size: 14px;
  color: #4d5157;
}
.Idiomas a {
  text-decoration: none;
  color: #190eab;
}

/*Tercer Bloc*/
/*Part de baix de Google*/
.Abajo-container {
  margin-top: 15.9%;
  background-color: #f2f2f2;
  height: 55px;
}
.Down {
  height: 55px;
  background-color: #f2f2f2;
}
hr {
  margin-top: 0px;
  margin-bottom: 0px;
}
.Espana {
  padding-left: 22px;
  padding-top: 18px;
}
ul {
  margin: 0px;
  padding: 0px;
  height: 0px;
}
.Down ul li {
  list-style: none;
  display: inline-block;
  padding-top: 18px;
  padding-left: 26px;
}
.Down p {
  text-align: center;
}
p {
  margin-top: 15px;
  height: 0px;
  position: absolute;
}
.Hoja {
  margin-right: 5px;
  height: auto;
  width: 14px;
}
.right {
  list-style: none;
  display: inline-block;
  margin-top: 0%;
  padding-left: 80%;
}
.year {
  margin-top: 16px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-left: 43%;
}
